@{
    ViewBag.Title = "Livros";
}

<h2>Livros</h2>

<div ng-controller="LivroCtrl as vm">
    <div class="col-md-12">
        <button ng-click="vm.newBook()" class="btn btn-block btn-success"><i class="glyphicon glyphicon-plus"></i> Novo Livro</button>
    </div>
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Título</th>
                    <th scope="col">Subtítulo</th>
                    <th scope="col">Edição</th>
                    <th scope="col">Ano</th>
                    <th scope="col">Nº de Páginas</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Idioma</th>
                    <th scope="col" class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in vm.books">
                    <td>{{ book.Id }}</td>
                    <td>{{ book.Titulo }}</td>
                    <td>{{ book.Subtitulo }}</td>
                    <td>{{ book.Edicao }}</td>
                    <td>{{ book.Ano }}</td>
                    <td>{{ book.Paginas }}</td>
                    <td>{{ book.Preco }}</td>
                    <td>
                        <span ng-show="book.Idioma == 0">Português</span>
                        <span ng-show="book.Idioma == 1">Espanhol</span>
                        <span ng-show="book.Idioma == 2">Inglês</span>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-sm btn-warning" ng-click="vm.editBook(book.Id)">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a class="btn btn-sm btn-danger"
                           ng-click="vm.deleteBook(book.Id)"
                           confirm-action="Confirma a exclusão?">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="alert alert-info text-center" ng-show="vm.books.length == 0">
        Nenhum livro a ser exibido.
    </div>
</div>