@{
    ViewBag.Title = "Início";
}

<div class="jumbotron">
    <h1>Cadastro de Livros</h1>
</div>

<div class="row">
    Sistema para cadastros simples de Livros.
    <a href="/Livro"> Ir para o Sistema</a>
</div>